<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <!-- BOOTSTRAP -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <%- include('./partials/header') %> <%- include('./partials/messages') %>

    <div class="container index-container m-auto mt-5 p-5 bg-light">
      <div class="row">
        <div class="col-md-6 m-auto text-center">
          <h5>Welcome!</h5>
          <h2 class="text-center text-primary"><%= user.fullname %></h2>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-6 m-auto">
          <span>Your current balance is:</span>
          <h1 class="text-center text-primary">$<%= user.balance %></h1>
        </div>
      </div>
    </div>
    <div class="container mt-5">
      <div class="row">
        <div class="col-md text-center d-grid gap-2 p-3">
          <a href="/transactions/new" class="btn btn-primary"
            >Create new transaction</a
          >
        </div>
      </div>
    </div>

    <div class="container p-3 index-container bg-light mt-5 mb-3">
      <% if(transactions.length> 0){%>
      <div class="row">
        <h3 class="mb-3">Latest transactions</h3>
      </div>
      <div class="row">
        <div class="col-md-12 m-auto">
          <table class="table table-light table-hover">
            <tr>
              <th>Date</th>
              <th>Amount</th>
              <th>Concept</th>
              <th>Type of transaction</th>
            </tr>
            <% transactions.forEach( (transaction)=> { %> <%
            if(transaction.type=="deposit" ){%>
            <tr class="table-success">
              <% }else{ %>
            </tr>

            <tr class="table-danger">
              <% } %>
              <td><%= transaction.date %></td>
              <td>$<%= transaction.amount %></td>
              <td><%= transaction.concept %></td>
              <td><%= transaction.type %></td>
            </tr>
            <% }) %>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="m-2">
          <a href="/transactions">See all the transactions</a>
        </div>
      </div>
      <% }else {%>
      <div class="row p-4">
        <h4 class="text-center">No register transactions yet</h4>
      </div>
      <% }%>
    </div>

    <!-- BOOTSTRAP -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
